@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "sour gummy", sans-serif;
    background-color: rgb(230, 247, 250);
}

#landing {
    max-width: 100%;
}

/*NAV*/

.hamburger__menu {
   visibility: hidden;
}

nav {
    background-image: url('./assets/dog\ banner.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 20px 15px;
    max-width: 100%;
    padding: 0 40px 0 40px;
}

.logo__img {
    max-width: 100px;
}

.wordmark {
    font-family: "chewy", serif;
    font-size: 30px;
    display: flex;
    padding: 15px 0 0 10px;
}

.nav__links {
    padding-top: 43px;
    max-width: 100%;
}

.nav-link {
    padding: 0 10px 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav-link__primary {
    background-color: white;
    border-radius: 9999px;
    padding: 12px 40px;
}

.nav-link__primary:hover {
    color: white;
    background-color: #E11584;
    cursor: pointer;
}

.browse_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "chewy", serif;
    font-size: 60px;
    color: white;
    -webkit-text-stroke: black 1px;
    letter-spacing: 2px;
}

.search__bar--container {
    display: flex;
    justify-content: center;
    position: relative;
}

.search__bar {
    width: 100%;
    max-width: 600px;
    padding: 20px 30px;
    border: 0 solid;
    border-radius: 9999px;
}

.search__btn {
    position: absolute;
    top: 12px; 
    right: 645px;
    color: #E11584;
    font-size: 25px
}

.fa-magnifying-glass {
    cursor: pointer;
}

/* SEARCH RESULTS */

#results {
    padding: 5px 200px 5px 200px;
}

.results__h2 {
    font-size: 50px;
}

.results__h5 {
    font-size: 25px;
}

.search__results--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.filter__input {
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

/*DOGS*/

#dogs {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(33% / 100%);
}

.classname-for-your-dog-imgs {
    border-radius: 50px;
    width: 500px;
    height: 500px;
    padding: 10px 20px;
    filter: drop-shadow(30px 10px 4px #bdbdbd);
}

.dog__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__btn {
    background-color: transparent;
    border: 0 solid;
}

/** loading screen**/

#loading__screen {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    z-index: 1;
}
/**FOOTER**/

#main__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 15px;
}

/**RESPONSIVE**/

/**
1280+ 
769-1279
481-768
0-480
**/

@media all and (min-width: 1024px) and (max-width: 1280px) { 

    nav {
        padding-bottom: 75px;
        background-color: #92feff;
        background-image: url("./assets/dog\ banner\ 1024-1280.png");
    }

    .search__btn {
        right: 320px;
    }

}

@media all and (min-width: 769px) and (max-width: 1023px) {
    nav {
        background-color: #92feff;
        background-image: url("./assets/dog\ banner\ 769-1023.png");
    }

    .search__results--header {
        display: flex;
        flex-direction: column;
    }

    .search__btn {
        right: 190px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {

    nav {
        background-image: url("./assets/dog\ banner-responsive.jpg");
    }
    .nav__links {
        display: none;
    }

    .logo {
        scale: 60%;
    }

    .search__bar {
        max-width: 400px;
    }

    .search__btn {
        right: 140px;
    }

    .hamburger__menu {
        visibility: visible;
         position: absolute;
       top: 60px;
       right: 120px;
       font-size: 30px;
       cursor: pointer;
    }

    .search__results--header {
        display: flex;
        flex-direction: column;
    }

    }

@media all and (min-width: 0) and (max-width: 480px) {
    nav {
        background-image: url("./assets/dog\ banner-responsive.jpg");
    }
    .nav__links {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .browse_header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .search__bar {
        max-width: 200px;
    }

    .search__btn {
        right: 110px;
    }

    .search__results--header {
        display: flex;
        flex-direction: column;
    }

    .classname-for-your-dog-imgs {
        width: 300px;
        height: 300px;
    }

    .hamburger__menu {
        visibility: visible;
        position: absolute;
       top: 60px;
       right: 60px;
       font-size: 30px;
       cursor: pointer;
    }
}
